In [6]:
print("hello world")

hello world

In [7]:
a = 1
b=4
print(a+b)

5

In [8]:
x='hii world'
y='10'
c=x+y
c.upper()
c.split()

['hii', 'world10']

In [9]:
a = "My name is Mr. jonny. I am a buissness man. i live in mumbai"
a.split()

['My',
 'name',
 'is',
 'Mr.',
 'jonny.',
 'I',
 'am',
 'a',
 'buissness',
 'man.',
 'i',
 'live',
 'in',
 'mumbai']

In [10]:
x=input("Enter your Name: ")

In [11]:
print("Hi {}".format(x))

Hi kullu

In [12]:
d = {'k1':'Apple','k2':[1,2,5,8]}

In [13]:
d.keys()

dict_keys(['k1', 'k2'])

In [15]:
d['k1']

'Apple'

In [23]:
d['k1'].upper()

'APPLE'

In [17]:
a='apple'
a.upper()

'APPLE'

In [24]:
b=['a','b','c']
b.append('i')

In [19]:
b

['a', 'b', 'c', 'i']

In [20]:
a.split()

['apple']

In [14]:
d.values()

dict_values(['Apple', [1, 2, 5, 8]])

In [34]:
st = 'hi everyone'
st.upper()

'HI EVERYONE'

In [35]:
d.items()

dict_items([('k1', 'Apple'), ('k2', [1, 2, 5, 8])])

In [37]:
d.pop('k2')

[1, 2, 5, 8]

In [38]:
d

{'k1': 'Apple'}

In [39]:
st

'hi everyone'

In [49]:
st.index('e',0,8)

3

In [50]:
a={0,1,1,2,5}

In [54]:
type(a)==set

True

In [4]:
tup = ((12,5541,54),(656,56,1,684))
tup

((12, 5541, 54), (656, 56, 1, 684))

In [5]:
len(tup)

2

In [11]:
d = {'k1':556,'k2':744}
for yes in d.values():
    print(yes)

556
744

In [12]:
d = {'k1':556,'k2':744}
for yes in d.items():
    print(yes)

('k1', 556)
('k2', 744)

In [13]:
d = {'k1':556,'k2':744}
for yes in d:
    print(yes)

k1
k2

In [15]:
d = {'k1':556,'k2':744}
for yes in d.keys():
    print(yes)

k1
k2

In [19]:

mystring = 'Hello Mr jonny'
mylist = mystring.split()
mylist

['Hello', 'Mr', 'jonny']

In [17]:
mylist

In [25]:
st = 'Print only the words that start with s in this sentence'
mylist = st.split()
mylist

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [36]:
for letter in mylist:
    if letter[0]=='s':
        print(letter)

start
s
sentence

In [1]:
st = 'sjaj'
len(st)

4

In [2]:
x=9
x%3==0

True

In [5]:
mylist = [1,2,3,5,6]
help(mylist.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.list instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [14]:
list2 = "a b c d e a v c".split()
list2

['a', 'b', 'c', 'd', 'e', 'a', 'v', 'c']

In [17]:

list2.reverse()
list2

['c', 'v', 'a', 'e', 'd', 'c', 'b', 'a']

In [19]:

a = ' '.join(list2)
a

'c v a e d c b a'

In [11]:
list2.index("a", 2)

5

In [7]:
mylist.index(2)

1

In [ ]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]
for person , hours in work_hours:
    current_max_hours = 0
    while current_max_hours<=800:
        if current_max_hours< hours:
            current_max_hours = hours

In [14]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]
for person , hours in work_hours:
    print(hours)

100
400
800

In [17]:
def employee_of_the_month(work_hours):
    current_max_hours = 0
    empl_of_the_month = ''
    for person , hours in work_hours:
        if current_max_hours<hours:
            current_max_hours=hours
            empl_of_the_month = person
        else:
            pass
    return (empl_of_the_month,current_max_hours)

In [18]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]
employee_of_the_month(work_hours)

('Cassie', 800)

In [22]:
name , hour = employee_of_the_month(work_hours)

In [23]:
name

'Cassie'

In [24]:
hour

800

In [25]:
eg = [1,2,3,4]
from random import shuffle
shuffle(eg)

In [26]:
eg

[1, 2, 4, 3]

In [39]:
from random import shuffle
mylist1=[' ','O',' ']
x = int(input('Choose index value 0,1,2:  '))
def shuffle_list(mylist1):
    new_list = shuffle(mylist1)
    if new_list[x]=='O':
        print("You Win")
    else:
        print("Sorry, You Loose")

In [40]:
shuffle_list(mylist1)

TypeError: 'NoneType' object is not subscriptable

In [57]:

def shuffle_list1(mylist1):
    shuffle(mylist1)
    return mylist1

In [58]:
def user_guess():
    x = ''
    while x not in [0,1,2]:
        x=int(input("Plz enter index value 0,1,2:   "))
    return x

In [59]:
def check_guess(mylist1,x):
    if mylist1[x]=='O':
        print("hurrah You win")
        
    else:
        print("sorry")

In [60]:
def keep_play():
    z='a'
    while z not in ['y', 'n']:
        z=input("If you want to play, type y; and if not, type n") 
    return z

In [ ]:
def games_on():
    mylist1 = [' ', 'O', ' ']
    a='y'
    while a =='y':
        new_shuffle_list = shuffle_list1(mylist1)
        guess = user_guess()
        check_guess(new_shuffle_list,guess)
        print("Yours Shuffle list is:  ")
        a = keep_play()
    return new_shuffle_list

In [5]:
def monkey_trouble(a_smile, b_smile):
  if (not a_smile and not b_smile) or (a_smile and b_smile):
    return True
  else:
    return False

In [7]:
monkey_trouble(True,True)

True

In [8]:

monkey_trouble(True, False)

False

In [9]:

monkey_trouble(False, False)

True

In [14]:
def sleep_in(weekday, vacation):
    return not weekday or vacation

In [15]:
sleep_in(False, False)

True

In [16]:
sleep_in(False, True)

True

In [17]:
sleep_in(True, False)

False

In [18]:
abs(20-22)

2

In [1]:
d = {'Hello':'efm'}
type(d)

dict

In [3]:
d['Hello']

'efm'

In [4]:
a ='vskdnkj'
a.capitalize()

'Vskdnkj'

In [5]:
a.upper()

'VSKDNKJ'

In [6]:
a.upper()

TypeError: str.upper() takes no arguments (1 given)

In [12]:
a.index('v')

0

In [26]:
def master_yoda(text):
    a = text.split()
    a.reverse()
    b = ''.join(a)
    return b

In [27]:
master_yoda("I Am")

'AmI'

In [23]:
a= [1,2,3]
a.reverse()
a

[3, 2, 1]

In [28]:
a = 'hello'
b= a[0]*3

In [29]:
b

'hhh'

In [2]:
a = [0,1]
a!=[]

True

In [7]:
s = 'HE J'
s.isupper()

True

In [9]:
a=[1,2,2]
list(set(a))

[1, 2]

In [4]:
a = [1,2,3,'hello']
a.count('hello')

1

In [5]:
a[1]

2

In [7]:
a = [1,2,3,4]
a.pop(0)
a

[2, 3, 4]

In [8]:
i=range(1,10)
for num in i:
    print(num)

1
2
3
4
5
6
7
8
9