## Warm Up Problems

*LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd*

In [2]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [3]:
lesser_of_two_evens(2,4)

2

In [4]:
lesser_of_two_evens(2,5)

5

*Animal Crackers: Write a function takes a two-word string and returns True if both words begin with same letter*

In [5]:
def animal_crackers(text):
    a = text.split()
    if a[0][0]==a[1][0]:
        return True
    else:
        return False

In [6]:
animal_crackers('Levelheaded Llama')

True

In [7]:
animal_crackers('Crazy Kangaroo')

False

*MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False*

In [11]:
def makes_twenty(n1,n2):
    return n1+n2==20 or (n1==20 or n2 ==20)

In [12]:
makes_twenty(20,10)

True

In [13]:
makes_twenty(2,3)

False

## Level1: Problems

*OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name*

In [14]:
def old_macdonald(name):
    first_letter = name[0]
    in_bet = name[1:3]
    fourth_letter = name[3]
    left = name[4:]
    return first_letter.capitalize()+in_bet+fourth_letter.capitalize()+left

In [15]:
old_macdonald('macdonald')

'MacDonald'

*MASTER YODA: Given a sentence, return a sentence with the words reversed*

In [27]:

def master_yoda(text):
    a = text.split()
    a.reverse()
    b = ' '.join(a)
    return b

In [28]:
master_yoda('I am home')

'home am I'

In [29]:
master_yoda('We are ready')

'ready are We'

*ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200*

In [30]:
def almost_there(n):
    return abs(n-100)<=10 or abs(n-200)<=10

In [31]:
almost_there(104)

True

In [32]:
almost_there(150)

False

In [33]:
almost_there(195)

True

## Level 2: Problem

*FIND 33:*
*Given a list of ints, return True if the array contains a 3 next to a 3 somewhere*

In [41]:
def has_33(nums):
    i=0
    while i < (len(nums)-1):
        if nums[i]==nums[i+1]==3:
            return True
        i=i+1
    else:
        return False

In [42]:
has_33([1, 3, 3])

True

In [43]:
has_33([1, 3, 1, 3])

False

In [44]:
has_33([3, 1, 3])

False

*PAPER DOLL: Given a string, return a string where for every character in the original there are three characters*

In [47]:
def paper_doll(text):
    i=0
    a = ''
    while i<len(text):
        a = a+text[i]*3
        i = i+1
    return a

In [48]:
paper_doll('Hello')

'HHHeeellllllooo'

In [49]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

*BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'*

In [52]:
def blackjack(a,b,c):
    if a+b+c<=21:
        return a+b+c
    elif (a+b+c)>21 and (a ==11 or b==11 or c==11):
        return (a+b+c)-10
    elif (a+b+c)>21:
        return "BUST"

In [53]:
blackjack(5,6,7)

18

In [54]:
blackjack(9,9,9)

'BUST'

In [55]:
blackjack(9,9,11)

19

*SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.*

## CHALLENGING PROBLEMS

*SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order*

In [32]:
def spy_game(nums):
    i=0
    b=[]
    a=[0,0,7]
    while a!=[] and i<len(nums):
        if nums[i]==a[0]:
            a.pop(0)
            if a==b:
                return True
            else:
                pass
        else:
            pass
        i=i+1
    else:
        return False

In [33]:
spy_game([1,7,2,0,4,5,0])

False

In [6]:
spy_game([1,7,2,0,4,5,0])

True

In [21]:
def spy_game(nums):
    i=0
    my_list = [0,0,7]
    while i<len(nums):
        if nums[i]==my_list[0]:
            my_list.pop(0)
        i=i+1
    return my_list==[]

In [23]:
spy_game([1,0,7,0,0,5])

False

In [28]:
def spy_game(nums):
    my_list = [0,0,7]
    for num in nums:
        if num ==my_list[0]:
            my_list.pop(0)
    return my_list ==[]

In [29]:
spy_game([1,0,7,0,0,5])

False


*COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number*

In [40]:
def count_primes(num):
    x = range(2,num+1)
    for nums in x:
        for y in range(2,nums-1):
            print(y)

*PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter*

In [42]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [43]:
print_big('a')

  *
 * *
*****
*   *
*   *